{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

      <!-- slider section -->
      <body>
      <div class="hero_area">
        <div class="bg-box">
          <img src="{% static 'images/hero-bg.jpg' %}" alt="" />
        </div>
      <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Classic Meals</h1>
                      <p>Tasty Treats on a Budget: Delicious Dishes, Skilled Cooking, and Wallet-Friendly Prices!</p>
                      <div class="btn-box">
                        <a href="" class="btn1">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Pocket Friendly Prices</h1>
                      <p>Savor the Flavor: Indulge in Affordable Elegance with our Culinary Craftsmanship!</p>
                      <div class="btn-box">
                        <a href="" class="btn1">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Amazing Meals</h1>
                      <p>Good Food, Great Prices: Enjoy Chef-Style Cooking without Breaking the Bank!</p>
                      <div class="btn-box">
                        <a href="" class="btn1">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <ol class="carousel-indicators">
              <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
              <li data-target="#customCarousel1" data-slide-to="1"></li>
              <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
      
      </section>  
<body>
      <!-- end slider section -->
  
    <!-- offer section -->

  
    <!-- end offer section -->

  

    {% endblock  %}